div{
    border: 2px solid rgb(0, 0, 0);
    background-image: url(/background-img/photo.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
    position: fixed;
    right: 0;
    top: 200px;
}